<div #tableContainer style="width: 100%; overflow-x: auto">
  @if (showPesquisar) {
    <mat-form-field appearance="outline" class="px-3 pt-3 w-100">
      <mat-label>Pesquisar na tabela</mat-label>
      <input matInput placeholder="Nome, Email, ID. Ex: Mia" (keyup)="applyFilter($event)">
    </mat-form-field>
  }
  <table mat-table matSort [dataSource]="dataSource">
    @for (column of columns(); track column.key) {
      <ng-container [matColumnDef]="column.key">
        @if (column.key !== 'actions') {
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ column.label }}
          </th>
        } @else {
          <th *matHeaderCellDef mat-header-cell>
            {{ column.label }}
          </th>
        }
        <td *matCellDef="let element" mat-cell>
          @if (column.key === 'actions') {
            @for (action of column.actions; track action.type) {
              <button
                mat-icon-button
                type="button"
                [matTooltip]="action.tooltip"
                (click)="action.click(element)">
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
            }
          } @else {
            <div
              class="truncate"
              [matTooltip]="shouldShowTooltip(element[column.key], column.maxChars) ? element[column.key] : ''"
              [style.max-width.px]="column.maxWidth"
            >
              {{ getTruncatedText(element[column.key], column.maxChars) }}
            </div>
          }
        </td>
      </ng-container>
    }
    <tr *matHeaderRowDef="displayedColumns()" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns();" mat-row></tr>
  </table>
</div>
<mat-paginator
  showFirstLastButtons
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]" />
