table, mat-paginator {
  background-color: white;
}

table {
  table-layout: auto;

  th, td {
    padding: 0 12px;
  }

  tr.mat-mdc-row:hover {
    background-color: #f0f0f0;
    transition: background 0.2s;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
