.header-bar {
  height: var(--header-bar-size);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.btn:focus {
  box-shadow: none;
}

.btn ::ng-deep .mat-ripple-element {
  background-color: rgba(196, 196, 196, 0.3);
}

.icon {
  color: white;
  width: 24px;
  height: 24px;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-ripple {
  --mat-sys-pressed-state-layer-opacity: 0.35;
}
