.header-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  height: 1px;
  width: 38px;
}

.btn-add {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  background-color: white;
  color: var(--green);
}

.btn-form {
  border-radius: 8px;

  &.btn-filter {
    background-color: var(--primary-color) !important;
  }
}


.filtros {
  flex-grow: 1;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
  padding: 12px;
}
