<div class="filtros mat-elevation-z8 mb-3">
  <div class="header-filter mb-2">
    <div class="space"></div>
    <h3 class="mb-0">Clientes</h3>
    <button aria-label="Botão para adicionar" class="btn-add" matIconButton matTooltip="Adicionar" type="button"
            (click)="addUser()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="filtrar()">
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput placeholder="Carlos" type="text">
        @if (form.get('nome')!.hasError('minlength') && (form.get('nome')?.dirty || form.get('nome')?.touched)) {
          <mat-error>Nome deve ter pelo menos 3 caracteres</mat-error>
        }
        @if (form.get('nome')!.hasError('maxlength') && (form.get('nome')?.dirty || form.get('nome')?.touched)) {
          <mat-error>Nome deve ter no máximo 30 caracteres</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3 col-6">
        <mat-label>Data de inicio</mat-label>
        <input
          appDateMask
          formControlName="dataInicio"
          matInput
          placeholder="DD/MM/YYYY"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"/>
        <mat-datepicker #picker/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3 col-6">
        <mat-label>Data de fim</mat-label>
        <input appDateMask formControlName="dataFim" matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"/>
        <mat-datepicker #picker2/>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="joao.silva@email.com" type="email">
        @if (form.get('email')!.hasError('minlength') && (form.get('email')?.dirty || form.get('email')?.touched)) {
          <mat-error>Email deve ter pelo menos 5 caracteres</mat-error>
        }
        @if (form.get('email')!.hasError('maxlength') && (form.get('email')?.dirty || form.get('email')?.touched)) {
          <mat-error>Email deve ter no máximo 40 caracteres</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label>Telefone</mat-label>
        <input appPhoneMask formControlName="telefone" matInput placeholder="(11) 99999-9999" type="tel">
        @if (form.get('telefone')!.hasError('minlength') && (form.get('telefone')?.dirty || form.get('telefone')?.touched)) {
          <mat-error>Telefone deve ter pelo menos 10 números</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label>Situação</mat-label>
        <mat-select formControlName="situacao">
          @for (option of options; track option) {
            <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
          }
        </mat-select>
        @if (form.get('situacao')!.hasError('required') && (form.get('situacao')?.dirty || form.get('situacao')?.touched)) {
          <mat-error>Situação é obrigatória</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn-form me-2" matButton="tonal" type="button" (click)="limparFormulario()">Limpar</button>
      <button class="btn-form btn-filter" matButton="filled" type="submit">Filtrar</button>
    </div>
  </form>
</div>

<app-data-grid-elevation [columns]="columns" [data]="data"/>
