.sidenavBarPage {
  height: calc(100dvh - var(--header-bar-size));

  .sidenavBar {
    width: 359px;
    max-width: 75%;
    background-color: white;
    border: 1px solid #e7e7e7;

    &.mat-drawer-side {
      border-radius: 0;
    }

  }

  .content-template {
    padding: 20px;
    background-color: white;

    &.side {
      margin: 20px;
      border-radius: 8px;

    }
  }
}
