<app-header (sideNavMenuOpen)="buttonHeaderMenu()"></app-header>
<mat-drawer-container class="sidenavBarPage" [hasBackdrop]="menuStyle() === 'over'">
  <mat-drawer class="sidenavBar" #drawer [mode]="menuStyle()">
    <app-menu (selectedItem)="selectedItemMenu()"></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <div [class.side]="menuStyle() === 'side'" class="mat-elevation-z7 content-template">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

